page-settings {

    background-color: #fff;

    .config {
        background-color: color($colors, primary);
        -webkit-clip-path: circle(65.7% at 25% 0);
        clip-path: circle(65.7% at 25% 0);
    }

    h1 {
        color: color($colors, light);
        padding: .3rem;
        font-size: 3rem;
        font-weight: 800;
    }

}
